@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.hidden {
  visibility: hidden;
}


.toolbar-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.toolbar-btn i {
  margin-right: 5px;
}

.toolbar {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}


.navigation {
  position: absolute;
  top: 20px;
  left: 20px;
}


.carousel-container {
  text-align: center;
  margin-top: 50px;
}


.carousel {
  width: 600px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.carousel img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel img:first-child {
  display: block;
}

.controls {
  margin-top: 20px;
}

button {
  margin: 0 10px;
}


.thumbnails-container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.thumbnails {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  margin-bottom: 10px;
  position: relative;
}

.thumbnails img {
  width: 100px;
  height: auto;
  margin: 0 5px;
  cursor: pointer;
}


.thumbnail-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#prevThumbBtn {
  left: 0;
}

#nextThumbBtn {
  right: 0;
}


.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
